<div class="work-card @@addClasses">
	<div class="work-card__body">
		<div class="work-card__header">
			<div class="work-card__top-left-container _title-font">
				<span class="work-card__company-name">Company Name</span>
				<div class="work-card__date-work">
					<span class="work-card__date-work_start">01.01.2022</span>
					<span class="work-card__date-work_end">01.01.2033</span>
				</div>
			</div>
			<span class="work-card__post _title-font">Shisher</span>
		</div>
		<div class="work-card__main">
			<p class="work-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nunc non id dictumst curabitur. Ullamcorper massa nam tristiqueplatea risus, ac congue. Nibh tempus arcu, sapien, vitae, at tristique. Vivamus tristique scelerisque ullamcorper neque.</p>
		</div>
	</div>
	<div class="work-card__decor-block _bg-second"></div>
</div>