:root {
  --main-font-family: 'Golos';
  --alumnisans-font-family: 'AlumniSans';
  --bg: #3c3c3c;
  --burger-menu-animate-timeout: 200ms
}

#index nav {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  translate: 100% 0 0;

  width: 320px;
  padding: 60px 30px 20px;

  background: #874cc3;
  border-bottom-left-radius: 5px;

  transition: all var(--burger-menu-animate-timeout) ease
}

#index nav ul {
  overflow: auto;
  display: grid;
  justify-items: end
}

#index nav a {
  padding: 5px 0;

  font-family: var(--alumnisans-font-family);
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
  text-align: right;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: .3em;
  letter-spacing: 0.1em;
  word-break: break-word;

  transition: all ease .2s
}

#index nav a:hover,
#index nav a:focus {
  letter-spacing: 5px
}

@media (width <=426px) {
  #index nav {
    width: 100vw
  }
}

#index label[for="menu-toggler"] {
  cursor: pointer;

  position: fixed;
  z-index: 20;
  top: 5%;
  right: 20px;

  transition: all .2s ease
}

#index label[for="menu-toggler"] rect {
  transform-origin: left;
  transform-box: fill-box;

  border-radius: 15px;

  fill: #ababab;

  transition: all var(--burger-menu-animate-timeout) ease
}

#index label[for="menu-toggler"]:hover,
#index label[for="menu-toggler"]:focus {
  scale: 1.1
}

#index main {
  background: var(--bg)
}

#index section {
  display: grid;
  gap: 40px;
  justify-items: center;

  margin: auto;
  padding: 75px 0
}

@media (width <=768px) {
  #index section {
    padding: 40px 0
  }

  #index section > * {
    max-width: 80vw
  }

  #index section:not(#hero) > * {
    max-width: 80vw
  }
}

@media (width <=426px) {
  #index section > * {
    max-width: 90vw
  }

  #index section:not(#hero) > * {
    max-width: 90vw
  }
}

#index section#hero {
  --photo-mob-height: 250px;

  display: grid;
  gap: 30px;
  place-items: center center;
  justify-content: center;

  height: 100vh;
  min-height: 500px;

  background: radial-gradient(#474747, #474747, rgb(63 62 62 / 20%), #3c3c3c)
}

#index section#hero > * {
  max-width: 85vw
}

#index section#hero hero-main {
  display: grid;
  grid-template: "title photo" auto "text photo" auto/1fr 210px;
  gap: 32px 100px
}

#index section#hero hero-main img {
  grid-area: photo;
  align-self: center;

  height: 100%;

  object-fit: cover;
  object-fit: cover;
  border-radius: 50%
}

@media (width <=768px) {
  #index section#hero hero-main {
    grid-template: "photo" var(--photo-mob-height) "title" auto "text" auto/1fr;
    justify-items: center
  }
}

#index section#hero hero-contacts {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  align-items: center;
  justify-content: center
}

#index section#hero hero-contacts img {
  width: 50px;
  height: 50px
}

#index section#hero hero-contacts a:has(img) {
  transition: scale 0.2s ease
}

#index section#hero hero-contacts a:has(img):hover,
#index section#hero hero-contacts a:has(img):focus-visible {
  scale: 1.1
}

#index section#hero h1 {
  grid-area: title
}

#index section#hero p {
  grid-area: text;
  line-height: 1.2
}

@media (width <=768px) {
  #index section#hero {
    height: auto;
    min-height: auto;
    text-align: center
  }
}

#index section#skills {
  background: linear-gradient(top, #8c31f5, #70f);
  background: linear-gradient(180deg, #8c31f5, #70f)
}

#index section#langs {
  display: grid;
  gap: 30px;
  background: #70f
}

#index section#education {
  background: #70f
}

#index section#projects {
  overflow: hidden;
  background: #3c3c3c
}

#index section#projects > * {
  max-width: 75vw !important
}

#index section#experience {
  background: #3c3c3c
}

@media (width >=1440px) {
  #index section:not(#hero) > * {
    max-width: 60vw
  }
}

@media (width <=1440px) {
  section:not(#hero) > * {
    max-width: 70vw
  }
}

#menu-toggler {
  display: none
}

#menu-toggler:checked ~ nav {
  translate: 0% 0 0
}

#menu-toggler:checked ~ label svg rect:nth-child(1) {
  rotate: 45deg
}

#menu-toggler:checked ~ label svg rect:nth-child(2) {
  pointer-events: none;
  overflow: hidden;
  opacity: 0
}

#menu-toggler:checked ~ label svg rect:nth-child(3) {
  rotate: -45deg
}

#download-pdf {
  display: flex;
  gap: 10px;
  align-items: center;

  padding: 10px;

  background: #70f;
  border: 1px solid #70f;
  border-radius: 8px;

  transition: all 0.2s ease
}

#download-pdf:hover,
#download-pdf:focus {
  color: #70f;
  background: #fff
}

#download-pdf span {
  white-space: nowrap
}

skills-block {
  padding: 15px;
  background: #d9d9d9;
  border-radius: 8px
}

skills-block h3 {
  padding-bottom: 10px;
  color: #3c3c3c;
  text-align: center
}

skills-row {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  align-items: center;
  justify-content: center
}

skills-row > * {
  padding: 5px 7px;

  font-family: var(--alumnisans-font-family);
  font-size: 1.6rem;
  color: #000;
  text-align: center;

  background: #f0f0f0;
  border: 1px solid #7d38c2;
  border-radius: 8px
}

contact-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center
}

contact-block b::after {
  content: "-";
  padding: 0 0.5em
}

work-card {
  display: grid;
  gap: 20px;
  padding: 20px 10px;
  background: #000
}

work-card ::selection {
  color: black;
  background: white
}

work-card ::selection {
  color: black;
  background: white
}

work-card header {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  justify-content: space-between
}

work-card header span {
  font-family: var(--alumnisans-font-family);
  font-size: 1.6rem;
  font-weight: 500
}

work-card header h3 {
  font-size: 28px;
  font-weight: 700
}

work-card work-main {
  display: grid;
  gap: 10px;
  line-height: 1.3
}

work-card work-main ul h4 {
  padding-bottom: 5px;
}

work-card work-main ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

work-card work-main ul li:before {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: currentColor;
  content: '';
}

@media (width >=1000px) {
  work-card p {
    width: 70%
  }
}

education-card {
  display: grid;
  gap: 10px;

  padding: 20px;

  color: #000;
  text-align: center;

  background: #fff;
  border: 2px solid #000;
  border-radius: 8px
}

education-card header span {
  font-family: var(--alumnisans-font-family);
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px
}

education-card p {
  font-size: 0.8rem
}

education-card strong {
  padding-top: 20px;
  font-size: 1.6rem;
  font-weight: 700
}

lang-block {
  display: grid;
  grid-template-columns: 1fr minmax(30px, .4fr) auto;
  gap: 15px 50px;
  align-items: center;

  padding: 15px;

  background: #3d0082;
  border-radius: 8px
}

lang-block span {
  font-family: var(--alumnisans-font-family);
  font-size: 3.2rem;
  font-weight: 700
}

lang-block word-separator {
  display: inline-block;
  width: auto;
  height: 3px;
  background: #fff
}

@media (width <=550px) {
  lang-block {
    grid-template: none;
    gap: 30px;
    width: 100%;
    text-align: center
  }

  lang-block word-separator {
    display: none
  }
}

projects-block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px
}

@media (width <=1000px) {
  projects-block {
    gap: 25px
  }
}

@media (width <=700px) {
  projects-block {
    scroll-snap-type: x mandatory;

    overflow-x: scroll;
    display: grid;
    grid-auto-columns: 70%;
    grid-auto-flow: column;

    /* size of a block in this container */
    grid-template-columns: 70%;
    gap: 30px
  }

  projects-block > * {
    scroll-snap-align: center
  }

  @media (width <=426px) {
    projects-block {
      grid-auto-columns: 90%;
      grid-template-columns: 90%;
      gap: 20px
    }
  }
}

swipe-note {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center
}

@media (width >=700px) {
  swipe-note {
    display: none
  }
}

project-block {
  display: grid;
  gap: 15px;

  width: 100%;
  height: 100%;
  padding: 20px;

  color: #000;
  text-align: center;

  background: #f1f1f1;
  border-radius: 8px
}

project-block header {
  display: grid;
  gap: 10px;
  place-items: center center
}

project-block header span {
  font-family: var(--alumnisans-font-family);
  font-size: 3.2rem;
  font-weight: 700;
  color: #3c3c3c
}

@media (width <=768px) {
  project-block header span {
    font-size: 2rem
  }
}

project-block header img {
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-fit: contain;
  object-fit: contain
}