fontStyle('AlumniSans', woff2-variations, AlumniSans-VariableFont_wght, 100, normal)
fontStyle('AlumniSans', woff2-variations, AlumniSans-VariableFont_wght, 200, normal)
fontStyle('AlumniSans', woff2-variations, AlumniSans-VariableFont_wght, 300, normal)
fontStyle('AlumniSans', woff2-variations, AlumniSans-VariableFont_wght, 400, normal)
fontStyle('AlumniSans', woff2-variations, AlumniSans-VariableFont_wght, 500, normal)
fontStyle('AlumniSans', woff2-variations, AlumniSans-VariableFont_wght, 600, normal)
fontStyle('AlumniSans', woff2-variations, AlumniSans-VariableFont_wght, 700, normal)
fontStyle('AlumniSans', woff2-variations, AlumniSans-VariableFont_wght, 800, normal)
fontStyle('AlumniSans', woff2-variations, AlumniSans-VariableFont_wght, 900, normal)
fontStyle('Golos', woff2-variations, Golos-UI_VariableFont_wght, 100, normal)
fontStyle('Golos', woff2-variations, Golos-UI_VariableFont_wght, 200, normal)
fontStyle('Golos', woff2-variations, Golos-UI_VariableFont_wght, 300, normal)
fontStyle('Golos', woff2-variations, Golos-UI_VariableFont_wght, 400, normal)
fontStyle('Golos', woff2-variations, Golos-UI_VariableFont_wght, 500, normal)
fontStyle('Golos', woff2-variations, Golos-UI_VariableFont_wght, 600, normal)
fontStyle('Golos', woff2-variations, Golos-UI_VariableFont_wght, 700, normal)
fontStyle('Golos', woff2-variations, Golos-UI_VariableFont_wght, 800, normal)
fontStyle('Golos', woff2-variations, Golos-UI_VariableFont_wght, 900, normal)
