.container {
	margin auto;

	@media (min-width unit($layoutWidth, px)) {
		// Insert the width of the container as a percentage of the width of the layout.
		width 80%;
	}

	@media (min-width 768px) and (max-width unit($layoutWidth, px)) {
		width 90%;
	}

	@media (min-width 426px) and (max-width 768px) {
		width 90%;
	}

	@media (max-width 426px) {
		width 95%;
	}
}

._contain-img {
	img {
		block-size 100%;
		object-fit contain;
	}
}

._cover-img {
	img {
		block-size 100%;
		object-fit cover;
	}
}

._block-padding {
	padding 75px 0;

	@media (max-width 426px) {
		padding 30px 0;
	}
}

._body-column-center {
	flex-set column nowrap;
	justify-content center;
	align-items center;
	notLastChildMargin 0 0 43px 0;
}

._title {
	font-family 'AlumniSans';
	letter-spacing .1em;
	font-weight 600;
	line-height 1.5;
	font-size 36px;
}

._bold {
	font-weight 700;
}

._title-font {
	font-family 'AlumniSans';
}

._bg-first {
	background #3C3C3C;
}

._bg-second_grad {
	background linear-gradient(180deg, #A87AD6, #9258CC);
}

._bg-second {
	background #9654D8;
}

._black {
	color #000000;
}

._gray {
	color #3C3C3C;
}

.menu-wrapper {
	position absolute;
	width 100%;
	height 100vh;
	overflow hidden;
	pointer-events none;

	* {
		pointer-events all;
	}
}

#menu__toggle {
	display none;

	&:checked ~ .navmenu {
		transform translate3d(0, 0, 0);
	}

	&:checked ~ .burger-btn {
		.burger-btn {
			&__rect-top {
				transform rotate(45deg) translate3d(0, -10%, 0);
			}

			&__rect-center {
				hide();
				height 0;
			}

			&__rect-bottom {
				transform rotate(-45deg) translate3d(0, 10%, 0);
			}
		}
	}
}

.burger-btn {
	position fixed;
	right 20px;
	top 5%;
	z-index 20;
	cursor pointer;

	rect {
		transition all var(--burgerMenuAnimateTimeout) ease;
		border-radius 15px;
		transform-origin left;
		transform-box fill-box;
	}

	&__rect-top {
	}

	&__rect-center {
	}

	&__rect-bottom {
	}
}

.navmenu {
	position fixed;
	z-index 2;
	right 0;
	top 0;
	background #874cc3;
	border-left 1px solid #441e6c;
	border-bottom 1px solid #441e6c;
	color #fff;
	width 320px;
	border-bottom-left-radius 8px;
	border-bottom-left-radius 8px;
	transform translate3d(100%, 0, 0);
	transition all var(--burgerMenuAnimateTimeout) ease;

	&__body {
		padding 20px;
		padding-bottom 40px;
		margin-top 10vh;
		overflow hidden;

		ul {
			flex-set column nowrap;
			align-items end;
			overflow auto;
		}
	}

	.fs-element {
		text-align right;

		&:after {
			display block;
			margin-left auto;
			width 90px;
			background #fff;
			height 2px;
			content '';
		}

		a {
			padding 5px 0;
			color #fff;
			word-break break-word;
		}
	}
}