/* Insert layout width below.
If this is not done, when using a responsive font, the result will not match the layout.
Please note that specifying a value less than 425 is dangerous for the psyche. */
$layoutWidth = 1440;
$mainFontSize = 20;
$minFontSize = 16;

:root {
	--text-c #fff;
	--main-font-family Golos;
	--bg #3C3C3C;
	--burgerMenuAnimateTimeout 200ms;
}
